.employee-block {
    width: 405px;
    height: 530px;
    margin-top: 50px;
    margin-left: 1px;
}

.employee-img-wrapper {
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.employee-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name-employee-wrapper {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.employee-position {
    text-align: center;
    margin-top: 5px;
}

.employe-info-wrapper {
    background-color: black;
    height: 130px;
}