.tutorial-section {
    height: 530px;
    display: flex;
    justify-content: space-around;
}

.process-info-wrapper {
    width: 500px;
}

.text-process-info {
    color: gray;
    margin-top: 35px;
    width: 400px;
}

.process-btn-wrapper {
    margin-top: 40px;   
}

.step {
    margin-top: 30px;
    text-align: center;
    transition: 400ms;
    height: 120px;
}

.step:hover {
    border: solid black 1px;
    box-shadow:  5px 5px 5px black;
    cursor: pointer;
}

.small-text-step {
    margin-top: 10px;
    color: gray;
    text-align: center; 
    margin: 0 auto;
    width: 300px;
}