.brands-info-section {
    padding: 100px;
}

.brands-info-tittle-wrapper {
    margin: 0 auto;
    width: 360px;
}

.brands-wrapper {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(5, 22%);
    grid-auto-rows: 50px;
    row-gap: 100px;
}

.brands-form-wrapper {
    margin: 0 auto;
    width: 575px;
}

.brands-btn-wrapper {
    margin-left: 90px;
}

.wrapper {
    margin-top: 10px;
}
