.home-offer-section {
    height: 800px;
}

.offer-title-wrapper {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 780px;
}

.services-wrapper {
    margin: 0 auto;
    margin-top: 55px;
    width: 1220px; 
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 295px);
    grid-auto-rows: 205px;
    justify-content: space-between;
}

.preview-service-wrapper {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    background-color: white;
}