.home-offer-section {
    height: 800px;
}

.offer-title-wrapper {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 780px;
}

.services-wrapper {
    margin: 0 auto;
    margin-top: 55px;
    width: 1220px; 
    height: 500px;
    border: solid red 1px;
    display: grid;
    grid-template: repeat(4,300);
    grid-auto-rows: 50px;
    row-gap: 100px;
    display: flex;
    justify-content: space-around;
}

.preview-service-wrapper {
    margin-top: 20px;
    width: 300px;
    height: 200px;
}