.preview-service-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 400ms;
}

.preview-service-block:hover {
    color: white;
    cursor: pointer;
    background-color: #FF6433;
    transform: scale(1.05);
}

.service-block-icon-wrapper {
    margin: 0 auto;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.service-block-txt-wrapper {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.service-block-content {
    margin-top: -40px;
}