.service-item-wrapper {
    height: auto;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
}

.service-info-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.other-info-wrapper {
    width: 30%;
    height: 100%;
}

.main-info-wrapper {
    width: 65%;
    height: 100%;
}

.service-img {
    width: 100%;
    height: 100%;
}

.quote-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;

}

.line {
    width: 5px;
    height: 100%;
}

.quote-txt-wrapper {
    margin-left: 15px;
    margin-top: 2%;
}

.main-service-text {
    white-space: pre-wrap;
}

.sub-service-text {
    white-space: pre-wrap;
}

.quote-txt-wrapper {
    white-space: pre-wrap   ;
}

.other-info-wrapper {
    height: auto;
    width: 30%;
}

.other-service-wrapper {
    width: 100%;
    height: auto;
    padding: 32px;
}

.service-block-wrapper {
    margin: 25px;
    width: 170px;
    height: 130px;
}