* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

/* .center {
    margin-left: 0 auto;
} */

.section-margin {
    margin-top: 140px;
}

.content__container {
    width: 1290px;
    overflow: hidden;
}

.steele-background{
    background-color: rgba(226, 230, 233, 1);
}

.black-background {
    background-color: black;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-margin {
    margin-top: 58px;
}

.txt-margin {
    margin-top: 24px;
}

.header-one {
    font-size: 64px;
}

.header-two {
    font-size: 58px;
}

.header-three {
    font-size: 48px;
}

.header-four {
    font-size: 40px;
}

.title-one {
    font-size: 32px;
}

.title-two {
    font-size: 24px;
}

.body-text-big {
    font-size: 18px;
}

.body-text-small {
    font-size: 16px;
}

.caption {
    font-size: 16px;
    color: gray;
}

.white-input {
    padding-left: 25px;
    width: 570px;
    font-size: 24px;
    outline: none;
    border: none;
    background-color: white;
    color: gray;
    margin-top: 8px;
    height: 45px;
    text-align: center;
}

.black-color {
    background-color: black;
}

.btn-wrapper {
    width: 150px;
    margin: 0 auto;
}

.buttons-wrapper {
    display: flex;
}

.input-item {
    margin-top: 20px;   
}

.text-area {
    outline: none;
    border: none;
    text-align: center;
}

.form-input-wrapper {
    margin-left: 350px;
    margin-top: 40px;
}

.file-input-hide {
    opacity: 0;
    visibility: hidden;
}

.input-file-wrapper {
    width: 300px;
    height: 300px;
    border: solid gray 3px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 120px;
}

.input-file {
    width: 100%;
    height: 100%;
}

.input-file-title {
    text-align: center;
    font-size: 24px;
}

.downloaded {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 20%;
    border-radius: 10%;
}